.quote-container{
  padding: auto;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color : black;
  background-image: url(./bg.jpg) ;
  transition: background-image 0.5s ease-in-out; /* Add transition for smooth image change */
  color : white;
  position: relative; /* Required for positioning pseudo-element */
  overflow: hidden; /* Hide overflowing pseudo-element content */
}




.quote-container h1
  {
    z-index: 2;
    margin: 20px;
    background-image: url(./h1.jpg);
    background-repeat: repeat;
    opacity: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    word-spacing: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue';
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    transition: background-color 0.3s ease-in-out;
    animation: fadeInHeading 2s ease-in-out 0.5s forwards;


}

.card:hover {
  /* Example animation - scale up on hover */
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.author:hover {
  /* Example animation - change text color on hover */
  color: #00e5ff; /* Change to your desired color */
  transition: color 0.3s ease-in-out;
}
.quote-container h1:hover {
  font-size: 2.2em;
  transition: font-size 0.3s ease-in-out;
}

.fetch-button {
  position: absolute;
  bottom: 20px; /* Adjust to your preference */
  right: 20px; /* Adjust to your preference */
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}


.fetch-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.card-container {
  z-index: 2;
  margin: 20px;
  margin-bottom: 20px;
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 100%, .2);
  border-radius: 10px;
  padding: 2rem;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeInQuotes 3s ease-in-out 1s forwards, fadeInBackground 3s ease-in-out 1s forwards;
  position: relative; /* Ensure proper z-index behavior */
}



@keyframes fadeInHeading {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInQuotes {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



