.card-container {
  background-color : black;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  flex-direction: column;
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure container takes at least full viewport height */
}
  
  .card {
    margin: 10px;
    padding: 20px;
    padding-left: 30px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .quote-container{
     margin: 10px;
    padding: 20px;
    padding-left: 30px;
  }

  .author
    {
  font: normal 1.2em 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-top: solid 5px #FFF;
  color: #FFF;
}
  
  